---
Language:	Cpp
BasedOnStyle: Google
MaxEmptyLinesToKeep: 2
ShortNamespaceLines: 1
AllowShortBlocksOnASingleLine: Never
AllowShortCaseLabelsOnASingleLine: false
AllowShortEnumsOnASingleLine: false
AllowShortFunctionsOnASingleLine: None


...
