---
Language:	Cpp
BasedOnStyle: Google
MaxEmptyLinesToKeep: 2
ShortNamespaceLines: 1
AllowShortFunctionsOnASingleLine: Empty
AllowShortLambdasOnASingleLine: Empty
AllowShortEnumsOnASingleLine: false


...
