[user]
	name = kenju
	email = kenjutakano+git@gmail.com
[core]
	editor=emacs
[alias]
	l=log --name-status --oneline --decorate --graph

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
